body{
    background-image: url("pic/cook.jpg");
} 
h1{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 100px;
}
h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 200px;
    color: white;
}