body{
    background-image: url("pic/cook.jpg");
    background-size: cover;
} 
.word2{
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 50px;
    position: relative; top:200px ;left:100px ;
}
.word1{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 90px;
    color: white;
    position: relative;top:130px;left: 20px;
}
p{
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 50px;
    position: relative; top:250px ;left:100px ;

}