body {
    /*背景圖片位置 */
    background-size: 100%;
    /*圖片寬度為螢幕的100%*/
    background-repeat: no-repeat;
    /* 不重複圖片*/
} 
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}



#intro .jumbotron{
   height: 70vh;
}

#intro h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}

#intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
p1{  font-size: 42px;
    color: rgb(23, 184, 76);    
}
p2{
    font-size: 36px;
    color: rgb(221, 28, 153);
}
p3{
    font-size: 36px;
    color:aliceblue;
}
p4{
    font-size: 48px;
    color:rgb(36, 175, 175);
}
.box{
    width: 200px;
    height: 200px;
    background: #ecd6c7;
    margin: 0 auto;/*區塊置中*/
  }
img-map{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
ul{
    font-size: 24px;
}