.centercard{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.food-type{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.background-pic{
    background-image:url('https://drive.google.com/uc?id=1m9GrvkwRcJetHV8KnTjrMAZ6wrXBgz0P');
}
